.hero {
  display: grid;
  grid-template-columns: [content] 50vw [image] 50vw;  
  grid-template-rows: [row1] 100vh;

  background-color: var(--foreground);
  height: 100vh;
  width: 100%;
}

.contentContainer {
  grid-column: content;
  grid-row: row1;


  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  flex-grow: 1;
  font-size: 8rem;
  padding: 0px 3% 0px 4%;
}

.heroImageContainer {
  grid-column: image;
  grid-row: row1;
  
  overflow: hidden;
}

.heroImage {
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.title {
  font-size: 8rem;
  color: white;
}

.subtitle {
  font-size: 4rem;
  color: var(--accent2);
}